.vs
.vscode
Services/PLManagement/bin
Services/UserManagement/bin
Services/PLManagement/obj
Services/UserManagement/obj
APIGateway/bin
APIGateway/obj
[Bb]in/
[Oo]bj/
Tests/PLService.Tests/bin
Tests/PLService.Tests/obj
Services/PLManagement/Resources/Firebase.json
